@import "tailwindcss";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-svelte";
/* @import "@skeletonlabs/skeleton/themes/nosh"; */
/* @import "@skeletonlabs/skeleton/themes/fennec"; */
/* @import "@skeletonlabs/skeleton/themes/pine"; */
@import "@skeletonlabs/skeleton/themes/rocket";
/* @import '@skeletonlabs/skeleton'; */
@plugin "@tailwindcss/forms";

body {
}
